/* Landing page styling */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f4f4e7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 1rem;
}

.container {
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

button {
    padding: 15px 30px;
    font-size: 1em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.plant-green{
    color: #228B22; 
    font-weight: bold; /*  maybe change later 
}

/* Form styling */

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 1.1em;
    margin-bottom: 5px;
}

input, select, button {
    font-size: 1em;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

}

/* Input form for datasets used my the model */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.required::after {
    content: "*";
    color: red;
    margin-left: 4px;
}

.helper-text {
    text-align: left;
    font-size: 0.9em; 
    font-style: italic; 
    color: #6c757d; 
    margin-top: -5px; 
    margin-bottom: 15px;
    display: block;

button:hover {
    background-color: #0056b3;
}