<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khula</title>


    <link rel="stylesheet" href="..//static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to KHULA</h1>
        <h2> A platform to help you, the farmer get the best advice for your next farming project!</h2>
        <p>Select an option to get started:</p>
        <button id="uploadButton">Upload Crop/Soil Image</button>
        <button id="analysisButton">Condition Analysis</button>
    </div>

    <script src="..//static/js/app.js"></script>
</body>
</html>


